@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

.main-content {
    align-content: center;
    align-self: center;
    justify-self: center;
    height: 100%;
    width: 100%;
}