@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

* {
    /* font-family: 'Cairo', sans-serif; */

}

.main-content {
    display: grid;
    justify-content: center;
    align-content: center;
}

/* @media screen and (max-width: 919px) {
    .main-content {
        display: grid;
        justify-content: center;
        align-content: center;
        transition: all 1s 3s;
    }
} */